@mixin tabScreen {
  @media screen and (min-width: 700px) {
    @content;
  }
}

@mixin desktopScreen {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin flex($alignment) {
  display: flex;
  justify-content: $alignment;
  align-items: center;
}

@mixin widthHeight($width, $height) {
  width: $width;
  height: $height;
}
