@use "mixins.scss" as *;
@use "variables.scss" as *;

footer {
  margin: 1em 0 1vh;
  @include flex(space-between);
  .icon img {
    @include widthHeight(18px, 18px);
  }
  @include mobileScreen {
    padding: 0 1em 2em;
    gap: 1.5em;
  }

  aside {
    min-width: 220px;
    @include desktopScreen {
      width: 30%;
    }
    p {
      @include flex(left);
      gap: 8px;
      flex-wrap: nowrap;
      select {
        width: 25%;
        cursor: pointer;
        font-weight: 500;
        padding: 0.3em 0.7em;
        border-radius: 4px;
        color: rgba($dark-blue, 0.6);
        @include flex(space-between);
        background-color: rgba($dark-blue, 0.1);
        border: none;
      }
    }
  }
  nav {
    @include flex(space-between);
    width: 250px;
    min-width: 200px;
    @include desktopScreen {
      width: 20%;
    }
    li {
      @include flex(space-between);
      padding: 0.1em;
      &.currentPage {
        color: $dark-blue;
        font-size: 17px;
      }
    }
    .pages {
      font-weight: 500;
      color: rgba($body-text-clr, 0.7);
      font-size: 15px;
      flex: none;
    }
    .icon {
      padding: 0.3em 0.4em;
      border-radius: 4px;
      cursor: pointer;
      background: rgba($body-text-clr, 0.2);
      &.previousPage {
        transform: rotate(90deg);
      }
      &.nextPage {
        transform: rotate(270deg);
      }
      &.disabled {
        cursor: not-allowed;
        background: rgba(81, 88, 87, 0.384);
      }
      &.hover:hover {
        background: rgba($main-accent, 0.7);
      }
    }
  }
}
