@use "variables.scss" as *;
@use "mixins.scss" as *;

.sidemenu {
  width: 283px;
  position: absolute;
  left: -100%;
  padding: 39px 0 20px;
  display: grid;
  gap: 35px;
  font-size: 16px;
  line-height: 18.77px;
  color: $dark-blue;
  background: white;
  z-index: 100;
  @extend %box-shadow;
  transition: all 500ms ease;
  @include desktopScreen {
    position: initial;
  }
  &.openMobileSideMenu {
    left: 0;
  }

  .sideMenuLink {
    opacity: 60%;
    @include flex(start);
    gap: 10px;
    padding: 15px 29px;
    .icon {
      @include widthHeight(16px, 17px);
    }
    &:first-child {
      opacity: 1;
    }
  }

  [data-key="users icon"] {
    border-left: 3px solid $main-accent;
    background-color: rgba($main-accent, 0.06);
    opacity: 1;
    cursor: pointer;
  }
  h3 {
    font-size: 12px;
    font-weight: 500;
    line-height: 14.08px;
    text-align: left;
    color: $body-text-clr;
    padding-left: 29px;
    margin-bottom: 15px;
  }
  .logout {
    border-top: 1px solid rgba($dark-blue, 0.1);
    padding-top: 5px;
    & > p {
      font-size: 12px;
      font-weight: 400;
      line-height: 14.08px;
      text-align: left;
      margin: 30px 29px 0;
    }
  }
}
