$dark-blue: #213f7d;
$light-blue: #5718ff;
$main-accent: #39cdcc;
$pill-red: #e4033b;
$icon-red: #ff3366;
$icon-dull-red: #f55f44;
$icon-purplish: #df18ff;
$green: #39cd62;
$gold: #e9b200;
$body-text-clr: #545f7d;
$faded-text-bluish: #213f7d;
%mobile-wrapper {
  width: 90%;
  margin: 0 auto;
}
$avenir-next: var(--font-avenirNext);
%hover-gradient-bg {
  &:hover {
    background: linear-gradient(45deg, $green, $main-accent);
  }
}
